.app-card-expand-details {
  display: grid;
  width: 100vw;

  .card-title {
    text-transform: uppercase;
    background-color: transparent;
    margin: 0;
    padding: 1rem;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
  }

  .card-img-info {
    padding: 0 2rem;
    margin: 0;

    p {
      margin: 0;
      padding: 0;
      text-align: end;
    }
  }

  .card-info {
    padding: 0 2rem;
    margin: 0;

    p {
      margin: 0;
      padding: 0;

      span {
        font-weight: bold;
      }
    }
  }

  .card-text {
    padding: 1rem;
    margin: 0;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
